/otras_placas
/extras
fabricacion/
production/
todo

# Tempfiles
project/~azukar-fpga.kicad_pcb.lck
project/~azukar-fpga.kicad_sch.lck
*.tmp

# Caches
fp-info-cache

# Backups
/project/azukar-fpga-backups
*.bak